$color-banner:#93051889;
$color-head:#f8c7da;
$color-foot:#f9bed5;
$color-tx-foot:#800f2f;
$color-menuppal:#ea94ccf9;
$color-menufoot:#fee7f0;
$color-seccion2:#f9e1ef;
$color-seccion3:#e2dde0;
$color-seccion1:#f3f3f3;
$icono-fondo:#f8c7da;
$icono-hover:#ff85e9f9;