footer{
    .footerindex{
        height:400px ;
        width: 100%;
        background-color: $color-foot;
        .formulario{
            padding:0px;
            margin:0px;

            .p{
                color: $color-tx-foot;
                font-weight: bold;
                padding: 10px;
            }
            .textarea{
                @include ancho-alto(200px,50px)
            }
        }
        .menufinal{
            list-style: none;
            padding: 20px;
            margin: 0;
            line-height: 30px;
            text-align: center;
            overflow: auto;
            margin-bottom: 10px;
            li{
                width: 180px;
                display: inline-block;
            }
            a{
                text-decoration: none;
                 display: block;
                font-family: "menus";
                font-weight: bold;
                font-size: 20px;
                color: #800f2f;
                border-right: 1px solid;  
            }
        }

    
    }
}