$name-producto:20px;
$precio-producto:18px;
$cuota-producto:14px;
$ancho-producto:415px;
$alto-producto:400px;
$marca-paginas:20px;
$titulo-paginas:50px;
$subtitulo-paginas:25px;
$alto-seccion2:250px;
$ancho-seccion2:250px;
$alto-seccion3:350px;
$ancho-seccion3:250px;
$titulo-secciones:30px;
