@mixin ancho-alto ($width, $height){
    width: $width;
    height: $height;
}
@mixin pa-ma ($padding, $margin){
    padding: $padding;
    margin: $margin;
}
@mixin menupag ($position, $margin-left){
    position: $position;
    margin-left: $margin-left;
}
@mixin displey-flex ($flex, $column){
    display: $flex;
    flex-direction: $column;
}

