@font-face {
    font-family: "$marca";
    src: url(./../fonts/letramarca.ttf);
  }
  
  @font-face {
    font-family: "$titulo2";
    src: url(./../fonts/letratitulo2.ttf);
  }
  @font-face {
    font-family: "$titulo";
    src: url(./../fonts/titulos.ttf);
  }
  @font-face {
    font-family: "$comun";
    src: url(./../fonts/menus.ttf);
  }